html {
  background-color: #5f45bb;
  background-image: linear-gradient(to bottom right, #180cac, #d054e4);
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

body {
  line-height: 1.5;
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Lato', sans-serif;
  color: #f0e8e8;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}
code,
pre {
  background: #02010362;
  border-bottom: 1px solid #cc0af3;
  color: a7adba;
}

code {
  padding: 2px, 4px;
  color: #43f78b7c;
  vertical-align: text-bottom;
}
pre {
  padding: 1em;
  border-left: 2px solid #69c;
}
a {
  color: #e81c4f;
}

header {
  background-color: #43f78b57;
  background-image: url('header.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}
img {
}
img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);
  --_i: calc(100% - 2 * var(--s));
}

header img {
  --s: 50px; /* size of the frame */
  --b: 2px; /* border thickness */
  --w: 200px; /* width of the image */
  --c: #7b3b3b;
  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid #0009;
  outline-offset: calc(var(--w) / -2 - var(--s));
  transition: 0.5s;
  cursor: pointer;
}

header h1 {
  color: rgb(19, 7, 7);
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: rgb(89, 0, 124);
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background: #e81c4f;
  color: white;
}
